div.Introductions{
    position: fixed;
    float: left;
    
}

div.navbar{
    position: fixed;
}

div.Assignments{
    position: absolute;
    top: 250px;
    left: 500px;
}

table{
    width: 250px;
}