div.Introductions{
    position: fixed;
    float: left;
    
}

div.navbar{
    position: fixed;
}

div.Assignments{
    position: absolute;
    top: 240px;
    left: 800px;
}

table{
    width: 250px;
}