div.Introductions{
    position: fixed;
    float: left;
    
}

div.navbar{
    position: fixed;
}

div.Assignments{
    position: absolute;
    top: 240px;
    right: 0px;
}

table{
    width: 250px;
}